doctype html
html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title=title
    meta(name='generator', content='Bootply')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  body
    header(class=['navbar', 'navbar-bright', 'navbar-fixed-top'], role='banner')
      div(class='container')
        div(class='navbar-header')
          button(class='navbar-toggle', type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(href='/', class='navbar-brand') Home
        nav(class=['collapse', 'navbar-collapse'], role='navigation')
          ul(class=['nav', 'navbar-nav'])
            each item in nav
              li
                a(href=item.link)=item.text

          ul(class=['nav', 'navbar-right', 'navbar-nav'])
            if isLoggedIn
              li
                a(href='/auth/logout') Log Out
            else
              li
                a(href='/') Login
            li(class='dropdown')
              a(href='#', class='dropdown-toggle', data-toggle='dropdown')
                i.fa.fa-search
              ul(class='dropdown-menu', style='padding:12px;')
                form(class='form-inline')
                  button(type='submit', class=['btn', 'btn-default', 'pull-right'])
                    i.fa.fa-search
                  input(type='text', class=['form-control', 'pull-left'], placeholder='Search')

    div(id='masthead')
      div(class='container')
        div(class='row')
          div(class='col-md-7')
            h1 Library App
              p(class='lead')

          div(class='col-md-5')
            div(class=['well', 'well-lg'])
              div(class='row')
                div(class='col-sm-12')

      div(class='container')
        div(class='row')
          div(class='col-md-12')
            div(class='top-spacer')

    div(class='container')
      div(class='row')
        div(class='col-md-12')
          div(class='panel')
            div(class='panel-body')
              div(class='row')
                br
                div(class=['col-md-2', 'col-sm-3', 'text-center'])
                  a(class='story-title', href='#')
                    img(
                      alt='',
                      src=book.meta.image_url,
                      style={width: '100px', height: '100px'},
                      class='img-circle')
                div(class=['col-md-10', 'col-sm-9'])
                  h3=book.title
                  div(class='row')
                    div(class='col-xs-9')
                      h4
                        span(class=['label', 'label-default'])=book.author
                    div(class='col-xs-3')
                  br
                  if book.meta
                    != book.meta.description + '<br/><br/>'

                  a(class=['btn', 'btn-primary'], href='/books') Go Back
                  != '<br/><br/>'
    hr

    div(class='container', id='footer')
      div(class='row')
        div(class=['col', 'col-sm-12'])
          h1 Follow Us
          div(class='btn-group')
            a(class=['btn', 'btn-twitter', 'btn-lg'], href='#')
              i.fa.fa-twitter.fa-lg
              = ' Twitter'
            a(class=['btn', 'btn-facebook', 'btn-lg'], href='#')
              i.fa.fa-facebook.fa-lg
              = ' Facebook'
            a(class=['btn', 'btn-google-plus', 'btn-lg'], href='#')
              i.fa.fa-google-plus.fa-lg
              = ' Google+'
    != '<hr /><hr />'

    footer
      div(class='container')
        div(class='row')
          div(class='col-sm-6')
            ul(class='list-inline')
              li
                i.fa.fa-facebook.fa-2x
              li
                i.fa.fa-twitter.fa-2x
              li
                i.fa.fa-google-plus.fa-2x
              li
                i.fa.fa-pinterest.fa-2x

          div(class='col-sm-6')
            p(class='pull-right') Built with 
              i.fa.fa-heart-o 
              = ' at '
              a(href='http://www.bootply.com') Bootply
    script(src='/bundle.js')
